<template name='imageloader'>
  <div class="upload-container">
    <div class="form-group">
      <label for="file">要上传的文件</label>
      <input type="file" name="file">
      <label for="bucket">空间名</label>
      <input type="text" name="bucket" placeholder="不填 为默认" class="form-control">
      <label for="path">路径名</label>
      <input type="text" name="path" placeholder="默认在主目录下" class="form-control">
      <button class="btn-primary btm-lg upload">上传</button>
      <button type="button" class="btn btn-danger btn-lg">
  <span class="glyphicon glyphicon-home"></span> Star
</button>
<span class="glyphicon glyphicon-home"></span>
    </div>
  </div>
</template>
