<template name='query'>
  <div class="query-wrapper">
    {{#if hasError}}
      <h3 class="err">操作失败：{{error.err}}，错误码：{{error.code}}</h3>
    {{/if}}
    <div class="form-group">
      <label for="ak">Access Key值</label>
      <input type="text" name='ak' class="form-control" placeholder="不填，为默认配置">
    </div>
    <div class="form-group">
      <label for="sk">Secret Key值</label>
      <input type="text" name='sk' class="form-control" placeholder="不填，为默认配置">
    </div>
    <div class="form-group">
      <label for="bucket">存储空间名</label>
      <input type="text" name='bucket' class="form-control" placeholder="不填，为默认配置 注意 存储空间名和域名必须一一对照">
    </div>
    <div class="form-group">
      <label for="hostname">域名</label>
      <input type="text" name='hostname' class="form-control" placeholder="
如http://odfhwma7g.bkt.clouddn.com  不填，为默认配置 注意必须添加http://">
    </div>
    <div class="form-group">
      <label for="prefix">指定前缀</label>
      <input type="text" name='prefix' class="form-control" placeholder="
指定前缀，只有资源名匹配该前缀的资源会被列出。默认全部内容">
    </div>
    <div class="form-group">
      <button class="btn btn-primary" id="query">查询</button>
    </div>
  </div>
</template>
