.detail-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 30px 150px;
    .p-wrap {
        margin-top: 50px;
        color: #fff;
        flex: 1 1 40%;
        img {
            width: 200px;
            height: 200px;
            border: 2px solid #faa;
            border-radius: 10px;
            margin-bottom: 10px;
        }
    }
    .form-wrap {
        flex: 1 1 40%;
        margin-top: 50px;
        color: #fff;
        padding: 10px;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        input {
            padding: 10px;
            margin: 10px;
            &:hover {
                border: 2px solid #613;
            }
        }
    }
    .btn {
        background: #0aa;
        border: 2px solid #fff;
        padding: 10px 20px;
        margin: 10px;
        color: #fff;
        &:hover {
            background: rgba(0, 0, 0, 0.3);
        }
    }
    .back {
        background: #f22;
    }
}
