.home-wrapper {
  margin-top: 200px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  .btn {
    color: #fff;
    margin-top: 20px;
    font-size: 20px;
    padding: 10px 50px;
    background: #ce4f41;
    border: 2px solid #fff;
    &:hover {
      transform: scale(1.2);
    }
  }
}
