.notfound {
  width: 100vw;
  height: 100vh;
  background-color: #3566F2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .link {
   display: inline-block;
   border-radius: 10px;
   background-color: rgb(53, 136, 224);
   color: #fff;
   font-size: 16px;
   padding:8px 20px;
   border: 2px solid #fff;
   &:hover {
    background-color: rgb(71, 247, 221);
  }
  }
}

